#content {
  position: relative;
  background-color: #808088;
  width: 1300px;
  height: 800px;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
}


.new {
  color: #823489
}

.new2 {
  color: #462869
}
