

img#fortune {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-left: 800px;
  padding-right: 100px;
  padding-top: 200px;

}

#previousbtn{
    margin-right: 75px;;
}
#nextbtn{
    margin-left: 75px;
}
